
body{
    font-family: 'Libre Franklin', sans-serif;
}

header{
    margin:0 auto;
    text-align: center;
}
.logo{
width:80px;
margin:40px 0 30px 0;
}
.message{
margin:0;
font-size:2.5em;
font-weight:300;
color:hsl(0, 0%, 59%);
}
.message span{
font-weight: bold;
color:hsl(209, 33%, 12%);
}

.sub-message{
margin:10px auto 30px auto;
}

.user-input{
    text-align: center;
}

input[type=email]{
    
    border:1px solid #D3D9E6;
    width:350px;
    height: 45px;
    border-radius:30px;
    margin-right: 8px;
    padding-left:28px;  

}
input[type=email]:invalid{
    border:1px solid red;
}
input:invalid + span{
position: relative;

}
input:invalid + span::before{
    content: 'Please provide a valid email address';
    color:red;
    position:absolute;
    width:300px;
    top:50px;
    right:110px;
font-size: 0.8em;
font-style: italic;

}

input[type=email]:focus{
    outline:#D3D9E6;
}
 input[type=submit]{
     background-color:#4D7BF3;
     border: none;
     color: white;
     height: 43px;
     width: 150px;
     border-radius: 30px;
     box-shadow: 2px 2px 5px #D3D9E6;
 }
 input[type=submit]:hover{
     cursor:pointer;
     background-color: #7095F5;
 }

 ::placeholder{

     color:#D3D9E6;
     opacity:1;
 }

.page-image{
 display:flex;
width:500px;
margin: 0 auto;
margin-top: 65px;
margin-bottom: 50px
}

footer{
    text-align: center;  
}

footer i{
    color:hsl(223, 87%, 63%);
    font-size:17px;
    border:solid 1px;
border-color:hsl(223, 100%, 88%);
    border-radius: 100%;
    padding:7px 5px;
    width:20px;
    margin:10px;
}

footer p{
    color:hsl(0, 0%, 59%);
    font-size:12px;
}
footer i:hover{
    background-color: hsl(223, 87%, 63%);
    color:white;
}

@media (max-width: 375px) {
body{
    padding:20px;
    display:block;
    background-color:white;
}
.page-image{
    width:100%;
}
.message{
    font-size:1.2em;
}
.sub-message{
    font-size: 0.7em;
}
input[type=email]{
    width: 86%;
}

input[type=submit]{
    margin:0;
    margin-top:10px;
    width:100%;

}

input:invalid + span::before{

    position:relative;
    width:fit-content;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    margin: 5px auto 20px auto;

    text-align: center;
font-size: 0.65em;
font-style: italic;
font-weight: 500;
display:block;
}
}